html
    head
        title=site.name
        link(rel="stylesheet" href="/css/#{site.cssskin2}")
    body.authenticated
        h1=site.name


        section
            menu
            div#userpanel
                div.person.micro
                    div
                        h2 #{lang.greeting1} #{user.name}
                    img(src="ass/ghost.jpg")
                form#update(method="post",action="/")
                    textarea(name="content", placeholder=lang.callToAction1)
                    input(type="hidden",name="userinput")
                    button post

                div#timeline
                    each post in feed
                        article.post
                            div.person.micro
                                div
                                    h2=post.username
                                    time.time=post.nicetime
                                img(src="ass/ghost.jpg")
                            p.text=post.text

        a#logout.fa.fa-power-off(href="/logout",title="Logout of application")
            span logout

        script(type="text/javascript",src="js/jquery-2.2.0.min.js")
        script(type="text/javascript",src="js/generic.js")